:root {
   --cor1: #00b289;
   --cor2: #4c4d5f;
   --cor3: #f8db62;
   --cor4: #F2FAFE;
   --font1: Arial, Geneva, Tahoma, sans-serif; 
}

* {
   margin: 0px;
   padding: 0px;
   font-family: var(--font1);
}

body {
   background-color: rgb(252, 252, 252);
   overflow-x: hidden;
}

header {
   max-height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 20px 40px;
   margin-bottom: 80px;
}

header nav {
   display: flex;
   align-items: center;
   justify-content: center; /* Centraliza os links */
}

header ul {
   list-style: none;
   display: flex;
   align-items: center;
}

header a {
   display: flex;
   gap: 20px;
   margin-left: 15px;
   align-items: center;
   text-decoration: none;
   color: var(--cor2);
   font-family: var(--font1);
   text-align: center;
}


header .login {
   border: 2px solid var(--cor1);
   color: var(--cor1);
   font-weight: bolder;
   padding: 10px 15px;
   border-radius: 5px;
}

header .startfree {
   background-color: var(--cor1);
   color: white;
   font-weight: bolder;
   padding: 10px 15px;
   border-radius: 5px;
   margin-right: 20px;
}

header img {
   max-width: 150px;
   height: 30px;

}

.mobile-menu {
   cursor: pointer;
   display: none;
}

.mobile-menu div {
   width: 32px;
   height: 2px;
   background-color: black;
   cursor: pointer;
   margin: 8px;
   transition: 0.3s;
}

main {
   max-width: 800px;
   margin: auto;
}

article.plans-and-price {
   margin: auto;
   justify-items: center;
}

article.plans-and-price h1 {
   text-align: center;
   font-weight: bold;
   font-family: var(--font1);
   margin-bottom: 20px;
}

article .planos {
   font-family: var(--font1);
   max-width: 400px;
   background-color: white;
   border-radius: 5px;
   padding: 40px;
   margin: 10px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.150);
}

article .planos2 {
   display: flex;
}

article .planos h2 {
   font-family: var(--font1);
   font-size: 1.3em;
}

article .planos strong {
   font-size: 2.5em;
}

article .planos .vertical {
   vertical-align: top;
}

article .planos hr {
   border: 1.5px solid var(--cor1);
   margin-top: 10px;
   margin-bottom: 10px;
}

article .planos ul {
   list-style-position: inside;
   list-style-type: '✔  ';
}

article .planos li {
   margin-bottom: 7px;
}

article .planos .startfree2 {
   text-decoration: none;
   font-family: var(--font1);
   background-color: var(--cor1);
   color: white;
   font-weight: bolder;
   padding: 10px;
   border-radius: 5px;
   margin-top: 20px;
   display: block;
   text-align: center;
}

article.adicional {
   margin-top: 80px;
}

article.adicional h3 {
   font-size: 1.3em;
   text-align: center;
   font-weight: bold;
   font-family: var(--font1);
   margin-bottom: 20px;
}

article.adicional aside {
   background-color: white;
   margin: 8px 40px;
   padding: 30px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.150);
   border-radius: 5px;
}

article.adicional aside p, .parte1, .parte2 {
   display: inline-block;
}
article.adicional .parte2 .gratis {
   font-size: 1.5em;
}

article.adicional .parte1 {
   width: 70%;
}
article.adicional .parte2 {
   width: 29%;
   text-align: right;
}
article.adicional .parte2 .valor {
   font-size: 1.5em;
}

article.podemosajudar {
   background-color: var(--cor4);
   margin: 80px 40px;
   padding: 50px;
   border-radius: 5px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.100);
   
}
article.podemosajudar h4 {
   font-family: serif;
   font-size: 2em;
}

article.podemosajudar strong {
   color: var(--cor1);
   font-family: serif;
}
article.podemosajudar a {
   text-decoration: none;
   font-family: var(--font1);
   background-color: var(--cor1);
   color: white;
   font-weight: bolder;
   padding: 10px;
   border-radius: 5px;
   display: block;
   text-align: center;
}

article.podemosajudar .parte1 {
   display: inline-block;
   width: 70%;
}
article.podemosajudar .parte2 {
   display: inline-block;
   width: 29%;
   
}

article.fac h5 {
   font-size: 1.3em;
   text-align: center;
   font-weight: bold;
   font-family: var(--font1);
   margin-bottom: 50px;
}

article.fac {
   margin: 80px 40px;
}

article.fac p {
   margin-bottom: 15px;
   border-bottom: 1px solid #4c4d5f36;
}

footer {
   text-align: center;
   padding: 10px;
   background-color: var(--cor4);
   box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.100);
}

footer a {
   text-decoration: none;
   color: black;
   font-weight: bolder;
}

footer a:hover {
   text-decoration: underline;
}

@media (max-width: 816px) {
   .nav-list {
      position: absolute;
      top: 12.5vh;
      right: 0;
      width: 50vh;
      height: 92vh;
      background-color: white;
      border-radius: 10px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.291);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
   }
   .nav-list li {
      margin-left: 0;
      opacity: 0;
   }
   .nav-list li a {
      color: black;
      text-decoration: none;
      font-weight: bolder;
      padding: 40px ;
   
   }
   .nav-list li a:hover {
      color: gray;
      text-decoration: underline;
   }

   .nav-list .botao, .nav-list .botao:hover {
      color: white;
      padding: 10px;
      text-decoration: none;
   }

   .mobile-menu {
      display: block;
   }
   article .planos2 {
   flex-direction: column;
}
}

.mobile-menu.active .line1 {
   transform: rotate(-45deg) translate(-8px, 8px);

}
.mobile-menu.active .line2 {
   opacity: 0;
}
.mobile-menu.active .line3 {
   transform: rotate(45deg) translate(-5px, -7px);
}
.nav-list.active {
   transform: translateX(0);
}

@keyframes navLinkFade {
   from {
      opacity: 0;
      transform: translateX(50px);
   }
   to {
      opacity: 1;
      transform: translateX(0);
   }
}